body {
  font-family:'Merriweather',sans-serif;
  color: #020E35;
  margin: 0px;
  
}

.menu {
  gap: 60px;
  display: flex;
  font-weight: 400;
}

.my-header {
  padding-top: 8px;
  padding-right: 150px;
  padding-bottom: 8px;
  padding-left: 150px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px 5px #00000014;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
}

.contact-us {
  padding-top: 24px;
  padding-right: 40px;
  padding-bottom: 24px;
  padding-left: 40px;
  background: #020E35;
  color: #FFFFFF;
  font-weight: 700;
  font-style: Bold;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.underline:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #FF5678;
  text-decoration-thickness: 4px;
}

.home-header {
  padding-left: 150px;
  padding-right: 150px; 
  margin-top: 300px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;

}

.image1 {
  margin-bottom: 200px;
  border-radius: 200px;
  color: #FFEEF6;

}

.text {
font-weight: 900;
font-style: Black;
font-size: 76px;
line-height: 110px;
margin-bottom: 56px;
}

mark {
  color: #FFFFFF;
  background: #FF5678;
  line-height: 1;
  display: inline-block;
}

.seework{
padding: 24px 40px;
width: fit-content;
}

.buttons {
  background: #020E35;
  text-decoration: none;
  font-weight: 700;
  line-height: 23px;
  color: #FFFFFF;
  box-shadow: 0px 20px 40px 5px #00000040;
}

.info1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}